body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: rgb(132, 171, 191);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(236, 53, 53, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    width: 100%; /* Ensures it spans the full width of the login container */
}

.flashes {
    margin: 0;            /* Remove any default margins */
    padding: 0;           /* Remove any default padding */
    list-style: none;     /* Remove bullet points */
    text-align: center;   /* Center text within the flashes container */
}

.recover_container{
    background: rgb(132, 171, 191);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(236, 53, 53, 0.1);
    width: 300px;
}