body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: rgb(132, 171, 191);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(236, 53, 53, 0.1);
    width: 300px;
    margin: auto; /* Center the container horizontally */
}

.form-group {
    margin-bottom: 15px; /* Adds space between form fields */
}

/* Styles for error messages */
.error-list {
    color: red; /* Red color for error messages */
    list-style-type: none; /* No bullet points */
    padding: 0; /* No padding */
    margin: 5px 0 0 0; /* Margin to separate from input field */
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    width: 100%; /* Ensures it spans the full width of the login container */
}

.flashes {
    margin: 0;            /* Remove any default margins */
    padding: 0;           /* Remove any default padding */
    list-style: none;     /* Remove bullet points */
    text-align: center;   /* Center text within the flashes container */
}

.recover_container{
    background: rgb(132, 171, 191);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(236, 53, 53, 0.1);
    width: 300px;
}

/* Additional styles for the buttons */
a {
    display: inline-block; /* Makes the links look like buttons */
    text-align: center;    /* Centers the text in the button */
    padding: 10px 20px;    /* Adds padding */
    margin: 10px;          /* Adds margin between buttons */
    background-color: #28a745; /* Green background for the buttons */
    color: white;          /* White text color */
    border-radius: 5px;   /* Rounded corners */
    text-decoration: none; /* Remove underline from links */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

a:hover {
    background-color: #218838; /* Darker green on hover */
    transform: translateY(-2px); /* Lift effect on hover */
}

a:active {
    transform: translateY(0); /* Return to normal when clicked */
}

h1 {
    text-align: center;
    color: #333;
}

.Pagetitle {
    text-align: center;
    position: absolute;
    top: 100px;
  }

.top-right {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
}