<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div>
        {{ form.email.label }}
        {{ form.email(class="form-control", placeholder="Enter your email") }}
    </div>
    <div>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary", value="Recover Password") }}
    </div>
</form>